In [1]:
import  pandas as pd
import numpy as np

In [16]:
data  = pd.read_csv('coursera_sessions_train.txt', sep =';', header=None)
data.head()

                                     0    1
0                          0,1,2,3,4,5  NaN
1                 9,10,11,9,11,12,9,11  NaN
2                    16,17,18,19,20,21  NaN
3                       24,25,26,27,24  NaN
4  34,35,36,34,37,35,36,37,38,39,38,39  NaN

In [18]:
data.dropna(inplace=True)
data.head()

                                          0         1
7    59,60,61,62,60,63,64,65,66,61,67,68,67  67,60,63
10      84,85,86,87,88,89,84,90,91,92,93,86        86
19                          138,198,199,127       199
30  303,304,305,306,307,308,309,310,311,312       303
33                              352,353,352       352

Отсортируем товары по частоте просматривания

In [38]:
import re
from collections import Counter

rank_watched =Counter() 
for i in data.values:
    for j in re.findall('[0-9]+',i[0]):
        rank_watched[j]+=1 
print rank_watched.most_common(10)

[('158', 50), ('73', 48), ('72586', 45), ('162', 38), ('204', 33), ('3324', 31), ('4476', 31), ('5569', 30), ('78154', 29), ('9135', 27)]

Отсортируем товары по частоте покупки

In [40]:
rank_bought = Counter()
for i in data.values:
    for j in re.findall('[0-9]+',i[1]):
        rank_bought[j]+=1 
print rank_bought.most_common(10)

[('158', 14), ('204', 12), ('3324', 11), ('73', 11), ('977', 10), ('5569', 10), ('3149', 10), ('1181', 9), ('162', 8), ('1852', 7)]

In [45]:
rank_watched.most_common(10)[0][0]

'158'

In [ ]:
fst_list = ['158','']

In [50]:
def precision_k(model, data, k):
    
    for item, cnt in model.most_common(k):
        print item
precision_k(rank_watched, data, 1)

158

In [61]:
def avg_precision_k(model, data, k):
    cntr = 0
    for i in data.values:
        for item, cnt in model.most_common(k):
             if item in re.findall('[0-9]+',i[1]):
                    cntr+= 1
    print float(cntr/k)/len(data)  
avg_precision_k(rank_bought, data, 1)
avg_precision_k(rank_bought, data, 5)

avg_precision_k(rank_watched, data, 1)
avg_precision_k(rank_watched, data, 5)

0.00388026607539
0.0030487804878
0.00388026607539
0.00249445676275

In [66]:
def avg_recall_k(model, data, k):
    cntr = 0
    for i in data.values:
        for item, cnt in model.most_common(k):
             if item in re.findall('[0-9]+',i[1]):
                    cntr+= 1./len(i[1])
                    
    print float(cntr)/len(data) 

avg_recall_k(rank_bought, data, 1)
avg_recall_k(rank_bought, data, 5)

avg_recall_k(rank_watched, data, 1)
avg_recall_k(rank_watched, data, 5)

0.00086244068446
0.00297058275366
0.00086244068446
0.00230593617523