## Correlation anslysis

In [2]:
import pandas as pd
data  = pd.read_csv('illiteracy.txt','\t')

In [12]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [8]:
data.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [10]:
data2 = pd.read_csv('water.txt','\t')

In [11]:
data2.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [13]:
data2.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [14]:
data2.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [20]:
print data2[data2['location']=='South'].corr()
print data2[data2['location']=='North'].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000
           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

#### Task 4. Mathew's correlation <font color=red>incorrect</font>

In [2]:
import numpy as np
a = 718+515
b = 239+718
c = 203+515
d = 203+239
corr = (a*d-b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
print corr

-0.0539793644796

#### Task 5. p-value

In [7]:
import scipy.stats
stat = (718+515+239+203)*corr**2
print 'p-value: ', scipy.stats.chi2_contingency([[203, 718], [239,515]])[1]

p-value:  0.00201871832088
p-value:  1.05589870066e-05

#### Task 6. Confident interval for differences in proportions

In [11]:
women = np.zeros(203+718)
for i in range(203):
    women[i] = 1
men = np.zeros(515+239)
for i in range(239):
    men[i] = 1

    
def proportions_confint_diff_ind(sample1, sample2, alpha = 0.05):    
    z = scipy.stats.norm.ppf(1 - alpha / 2.)   
    p1 = float(sum(sample1)) / len(sample1)
    p2 = float(sum(sample2)) / len(sample2)
    
    left_boundary = (p1 - p2) - z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    right_boundary = (p1 - p2) + z * np.sqrt(p1 * (1 - p1)/ len(sample1) + p2 * (1 - p2)/ len(sample2))
    
    return (left_boundary, right_boundary)


print proportions_confint_diff_ind(men, women)

(0.053905233215813156, 0.13922183141523897)

#### Task 7. Hypothesis test

In [12]:
def proportions_diff_z_stat_ind(sample1, sample2):
    n1 = len(sample1)
    n2 = len(sample2)
    
    p1 = float(sum(sample1)) / n1
    p2 = float(sum(sample2)) / n2 
    P = float(p1*n1 + p2*n2) / (n1 + n2)
    
    return (p1 - p2) / np.sqrt(P * (1 - P) * (1. / n1 + 1. / n2))

def proportions_diff_z_test(z_stat, alternative = 'two-sided'):
    if alternative not in ('two-sided', 'less', 'greater'):
        raise ValueError("alternative not recognized\n"
                         "should be 'two-sided', 'less' or 'greater'")
    
    if alternative == 'two-sided':
        return 2 * (1 - scipy.stats.norm.cdf(np.abs(z_stat)))
    
    if alternative == 'less':
        return scipy.stats.norm.cdf(z_stat)

    if alternative == 'greater':
        return 1 - scipy.stats.norm.cdf(z_stat)

print proportions_diff_z_test(proportions_diff_z_stat_ind(men, women))

8.15345308958e-06

#### Task 8. chi-square

In [13]:
print scipy.stats.chi2_contingency([[197,111,33],[382,685,331], [110,342,333]])

(293.68311039689746, 2.4964299580093467e-62, 4L, array([[  93.08597464,  153.74722662,   94.16679873],
       [ 381.6251981 ,  630.318542  ,  386.0562599 ],
       [ 214.28882726,  353.93423138,  216.77694136]]))

#### Task 10.Mathew's coefficient

In [16]:
print np.sqrt((293.68311039689746)/(2524*2))

0.24120139345

In [15]:
sum([197,111,33])+sum([382,685,331])+ sum([110,342,333])

2524