## Correlation anslysis

In [2]:
import pandas as pd
data  = pd.read_csv('illiteracy.txt','\t')

In [12]:
data.head()

   Country  Illit  Births
0  Albania   20.5    1.78
1  Algeria   39.1    2.44
2  Bahrain   15.0    2.34
3   Belize    5.9    2.97
4    Benin   73.5    5.60

In [8]:
data.corr(method='spearman')

           Illit    Births
Illit   1.000000  0.752962
Births  0.752962  1.000000

In [10]:
data2 = pd.read_csv('water.txt','\t')

In [11]:
data2.head()

  location        town  mortality  hardness
0    South        Bath       1247       105
1    North  Birkenhead       1668        17
2    South  Birmingham       1466         5
3    North   Blackburn       1800        14
4    North   Blackpool       1609        18

In [13]:
data2.corr()

           mortality  hardness
mortality   1.000000 -0.654849
hardness   -0.654849  1.000000

In [14]:
data2.corr(method='spearman')

           mortality  hardness
mortality   1.000000 -0.631665
hardness   -0.631665  1.000000

In [20]:
print data2[data2['location']=='South'].corr()
print data2[data2['location']=='North'].corr()

           mortality  hardness
mortality   1.000000 -0.602153
hardness   -0.602153  1.000000
           mortality  hardness
mortality   1.000000 -0.368598
hardness   -0.368598  1.000000

#### Task 4. Mathew's correlation

In [21]:
import numpy as np
a = 718+515
b = 239+718
c = 203+515
d = 203+239
corr = (a*d-b*c)/np.sqrt((a+b)*(a+c)*(b+d)*(c+d))
print corr

-0.0539793644796

#### Task 5. p-value

In [28]:
import scipy.stats
stat = (718+515+239+203)*corr**2
print scipy.stats.chi2_contingency([a, b], [c,d])

(0.0, 1.0, 0L, array([ 1233.,   957.]))

In [26]:
stats

4.8805677476107165